body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(166, 161, 148, 0.3);
}

.Alcometer {
  margin: 50px;
}

input, label, span, button, select {
  margin: 5px;
  padding: 5px;
}

span {
  font-size: 2em;
}